@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 768px) {


@media only screen and (max-width: 640px) {
		#header-name {
		width: 100%;
		margin-left:0;
		background-color: #4aaaa5;
		text-align: center;
		font-style: bold;
		font-size: 24px;

	}

		.header {
			width: 100%;
			height: auto;
		}

		#nav {
			text-align: center;
			padding: 30px;
			clear: both;
		}

		a.nav {
			color: #666666;
			text-decoration: none;
		}

		.center {
			width: 100%;
			overflow: hidden;
		}


		#content-left {
			width: auto;
			height: auto;
			background-color: white;
			margin-left: 20px;
			margin-right: 20px;
		}

		.profile-photo {
			padding-right: 20px;
			padding-top: 15px;
			padding-bottom: 15px;
			width: 100%;
			height: auto;
			clear: both;
		}

		p.index {
			clear:both;
		}


		#connect-right{
			margin-left: 20px;
			margin-right: 20px;
			float: left;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		#img-links {
			float: left;

		}

		h2 {
			text-align: left;
			width: auto;
		}

		.footer{
			width: 100%;
			margin-left:0;
			text-align: center;
			font-style: bold;
			border-style: solid;
			border-top: thick solid #4aaaa5;
			clear: both;
			padding: 30px;

		}

		.container {
			width: auto;
			clear: both;
		}
}