<!--- CSS for Basic Portfolio | Lauren Farrell --->

* {
	box-sizing: border-box;
}

html {
	background: silver;
	font-family: arial, Helvetica, sans-serif;
	color: #777777;
}

section {
	margin: 20px;
	padding: 20px;
	border: 1px solid red;
}


#content-left {
	background-color: white;
	float: left;
	width: 50%;
}

#connect-right {
	background-color: white;
	float: left;
	text-align: center;
}

#header {

	background-color: #4aaaa5;
	height: 50px;
}

#header-name {
	width: 50%;
}

#nav {
	background-color: pink;
}

h1 {
	color: white;
	font-family: georgia;
}

h2 {
	color: #4aaaa5;
	font-family: georgia;
}


#footer {
	background-color: gray;
	clear: both;

}

p {
	line-height: 1.75;
	color:;
	padding: 10px;
}